<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean class="org.airyelf.client.WidgetRegisterer">
        <property name="widgetDefinitions">
            <list>
                <bean class="org.airyelf.client.WidgetDefinition">
                    <constructor-arg name="groupId" value="org.airyelf.widget.core"/>
                    <constructor-arg name="artifactId" value="hello-airy-elf"/>
                    <constructor-arg name="version" value="0.0.1"/>
                    <constructor-arg name="name" value="Hello Airy Elf"/>
                </bean>
                <bean class="org.airyelf.client.WidgetDefinition">
                    <constructor-arg name="groupId" value="org.airyelf.widget.core"/>
                    <constructor-arg name="artifactId" value="time"/>
                    <constructor-arg name="version" value="0.0.1"/>
                    <constructor-arg name="name" value="Time"/>
                </bean>
                <bean class="org.airyelf.client.WidgetDefinition">
                    <constructor-arg name="groupId" value="org.airyelf.widget.core"/>
                    <constructor-arg name="artifactId" value="echo"/>
                    <constructor-arg name="version" value="0.0.1"/>
                    <constructor-arg name="name" value="Echo"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>